[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ramanaiah123
[access "refs/for/refs/*"]
	read = group user/ramanaiah123
	push = group user/ramanaiah123
	label-Code-Review = -2..+2 group user/ramanaiah123
	label-Verified = -1..+1 group user/ramanaiah123
	rebase = group user/ramanaiah123
	removeReviewer = group user/ramanaiah123
	submit = group user/ramanaiah123
[access "refs/heads/*"]
	read = group user/ramanaiah123
	create = group user/ramanaiah123
	push = +force group user/ramanaiah123
	pushMerge = group user/ramanaiah123
[access "refs/tags/*"]
	push = group user/ramanaiah123
	push = +force group user/ramanaiah123
